modules = ["nodejs-24"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Discord Bot"

[[workflows.workflow]]
name = "Discord Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd artifacts/discord-bot && node index.js"

[workflows.workflow.metadata]
outputType = "console"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
BOT_INVITE_PERMISSIONS = "1099783210054"
CLIENT_ID = "1506844827554287706"
DASHBOARD_PORT = "3000"
DISCORD_CLIENT_ID = "1506844827554287706"
DISCORD_REDIRECT_URI = "http://localhost:3000/auth/callback"
LAVALINK_ENABLE_PUBLIC_FALLBACK = "true"
LAVALINK_EXTRA_NODES = "[{\"id\":\"serenetia-v4\",\"host\":\"lavalinkv4.serenetia.com\",\"port\":80,\"authorization\":\"https://seretia.link/discord\",\"secure\":false}]"
LAVALINK_HOST = "lavalink.shanutechx.com"
LAVALINK_LOCAL_ENABLED = "false"
LAVALINK_PASSWORD = "f4e49aee2dcc60cfe859cac2dbf1076ebba9e2b0c4645593"
LAVALINK_PORT = "443"
LAVALINK_SECURE = "true"
SPOTIFY_CLIENT_ID = ""
SPOTIFY_CLIENT_SECRET = ""
ALLOWED_GUILD_IDS = "1148605620631642122,1496522681007210577,1499981877715533874,1506660198843158619"
